p {
  display: inline-block;
  width: 190px;
  height: 100px;
  margin-left: 20px;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 0%;
  margin-top: 40px;
  border-radius: 5%;
  margin-left: 6%;
  font-weight: bolder;
  font-size: 20px;
}

header p:first-child {
  background-color: rgb(240, 165, 0);
  color: brown;
}
header p:last-child {
  background-color: rgb(240, 165, 0);
  color: brown;
}

header p:nth-child(2) {
  background-color: rgb(240, 165, 0);
  color: brown;
}

section p:first-child {
    background-color: rgb(129, 0, 0);
    color: beige;
  }
  section p:last-child {
    background-color: #810000;
    color: beige;
  }
  
  section p:nth-child(2) {
    background-color: hsl(0, 100%, 25%);
    color: beige;
    
  }

 div p:first-child {
    background-color: rgb(32, 106, 93);
    color: beige;
  }
  div p:last-child {
    background-color: #206a5d;
    color: beige;
  }
  
 div p:nth-child(2) {
    background-color: hsl(169,54%,27% );
    color: beige;
  }

